.textBody {
  font-family: "Kaushan Script", cursive;
  background-image: url(https://i.etsystatic.com/6405308/r/il/7dfccd/1066657508/il_570xN.1066657508_9b85.jpg);
  background-repeat: repeat-y;
  background-size: 40%;
  background-position: right;
}

#App-header {
  min-height: 20vh;
  font-size: calc(30px + 4vmin);
  color: #4e4e4e;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
}

.headText {
  font-size: 25px;
  font-family: "Merriweather", serif;
  margin-left: 35px;
  width: 600px;
}

#bottom {
  font-size: 25px;
  font-family: "Merriweather", serif;
  margin-left: 35px;
  width: 600px;
}

#bottom input {
  /* background-color: fuchsia; */
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  height: 30px;
  width: 150px;
}

button {
  border-radius: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  height: 50px;
  width: 175px;
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: bold;
  /* align-content: left; */
  font-family: "Kaushan Script", cursive;
  color: rgb(87, 87, 87);
  background-color: rgb(218, 198, 26);
}

#authbtn button {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 25px;
  color: #db6097;
  border: none;
  font-size: 15px;
  font-weight: bold;
  align-content: left;
  width: 150px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(7, 151, 115);
}

#winner #message {
  color: rgb(7, 151, 115);
  font-size: 20px;
  /* font-family: "Kaushan Script", cursive; */
  font-family: "Merriweather", serif;
  font-style: italic;
  text-align: right;
}

#winner h4 {
  margin-bottom: 0;
}
